{{ range $i, $alert := .Alerts }}
    ========监控报警==========
    **告警名称**：{{ $alert.Labels.Alertname }}
    **告警状态**：{{   .Status }}
    **告警级别**：{{ $alert.Labels.Severity }}
    **告警主机**：{{ $alert.Labels.Instance }}
    **告警摘要**：{{ $alert.Annotations.Summary }}
    **告警详情**：{{ $alert.Annotations.Description }}
    **触发阀值**：{{ $alert.Annotations.Value }}
    **维护团队**: {{ .Labels.team | upper }}
    **触发时间**：{{ $alert.StartsAt.Format "2006-01-02 15:04:05" }}
    **恢复时间**：{{ $alert.EndsAt.Format "2006-01-02 15:04:05" }}
    ========end=============
{{ end }}
